
#sudoku {
  font-size: 0;
  text-align: center;
}



body h1 {
  text-align: center;
  font-family: font-family: Papyrus, fantasy;
}


div.box, div.cell {
  display: inline-block;
}

.cell input {
  width: 30px;
  height: 30px;
}